[submodule "src/fo4-nif-viewer/deps/nifly"]
	path = src/fo4-nif-viewer/deps/nifly
	url = https://github.com/ousnius/nifly
[submodule "src/fo4-nif-viewer/deps/tinygltf"]
	path = src/fo4-nif-viewer/deps/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "src/nif/third_party/nifly"]
	path = src/nif/third_party/nifly
	url = https://github.com/ousnius/nifly
[submodule "third_party/nifly"]
	path = third_party/nifly
	url = https://github.com/ousnius/nifly
[submodule "third_party/tinyxml2"]
	path = third_party/tinyxml2
	url = https://github.com/leethomason/tinyxml2
