[submodule "third_party/nifly"]
	path = bsrender/third_party/nifly
	url = https://github.com/ousnius/nifly
[submodule "third_party/tinyxml2"]
	path = bsrender/third_party/tinyxml2
	url = https://github.com/leethomason/tinyxml2
