on:
  push:
    branches:
    - main

jobs:
  packageChange:
    runs-on: ubuntu-latest
    outputs:
      package: ${{ steps.changes.outputs.package }}
    steps:
    - uses: actions/checkout@v4
    - uses: dorny/paths-filter@v3
      id: changes
      with:
        filters: |
          package:
            - './package.json'

  release:
    permissions:
      contents: write
    runs-on: windows-latest
    needs: packageChange
    if: ${{ needs.packageChange.outputs.package == 'true' }}
    steps:
    - uses: actions/setup-node@v4
    - uses: actions/checkout@v4
    - name: Install deps
      run: npm ci
    - name: Configure bsrender
      run: npm run cmake:build
    - name: Build bsrender
      run: npm run cmake:release
    - name: Publish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: npm run publish
